<!DOCTYPE html>
<html>
    <head>
        <title>main</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="/css/post.css">
    </head>
    <body>
        <div id="header">
            <%= title %>
            <% if (loginAs) { %>
              <div id="login-greeting">Logged in as <%= loginAs %></div>
            <% } else { %>
              <div id="login-greeting">Not Logged In</div>
            <% } %>
        </div>
