<div id="table-wrapper">
    <table>
        <thead>
            <th id="table-postid">id</th>
            <th id="table-author">author</th>
            <th id="table-title">title</th>
            <th id="table-created">created</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < items.titles.length; i++) { %>
                <tr class="post-row">
                    <td class="post-id"><%= items.ids[i] %></td>
                    <td><%= items.authors[i] %></td>
                    <td class="post-title"><%= items.titles[i] %></td>
                    <td><%= new Date(items.createdAt[i]).toLocaleString() %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>