<%- include('layout/header.ejs') %>
<div id="container">
    <%- include ('layout/table.ejs') %>
    <div id="button-wrapper">
      <button id="post">POST</button>
    </div>

</div>
<script>
    const post = document.querySelector('#post');
    post.onclick = (e) => {
        location.href = '/save';
    }
</script>
<script src="js/post.js"></script>
<%- include('layout/footer.ejs') %>
