<%- include('layout/header.ejs') %>
<div id="container">
    <div id="page-title">
    </div>
    <%- include ('layout/table.ejs') %>
    <button id="post">post</button>
</div>
<script>
    const post = document.querySelector('#post');
    post.onclick = (e) => {
        location.href = '/save';
    }
</script>
<%- include('layout/footer.ejs') %>
