<%- include('layout/header.ejs') %>
<div id="container">
    <%- include ('layout/table.ejs') %>
    <div id="button-wrapper">
      <button id="post">POST</button>
      <% if (items.loginAs) { %>
        <button id="logout">LOGOUT</button>
      <% } else { %>
        <button id="login">LOGIN</button>
      <% } %>
    </div>

</div>
<script src="js/index.js"></script>
<script src="js/post.js"></script>
<%- include('layout/footer.ejs') %>
