<%- include('layout/header.ejs') %>
<link rel="stylesheet" href="/css/login.css">
<div id="container">
  <form>
    <input id="input-email" type="text" placeholder="email">
    <input id="input-password" type="password" placeholder="password">
  </form>
  <div id="button-wrapper">
    <button id="login">LOGIN</button>
  </div>
</div>
<%- include('layout/footer.ejs') %>
