<%- include('layout/header.ejs') %>
<div>
  <form>
    <input id="input-title" type="text" placeholder="title">
    <input id="input-author" type="text" placeholder="author">
    <textarea id="input-content" cols="30" rows="10"></textarea>
  </form>
  <div id="button-wrapper">
    <button id="save">SAVE</button>
    <button id="cancel">CANCEL</button>
  </div>
</div>
<script src="js/save.js"></script>
<%- include('layout/footer.ejs') %>
